body {
  margin: 0;
  font-family: "Source Serif Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 40pt;
  margin-bottom: 10px;
}
h2 {
  margin-bottom: 20px;
}
a {
  font-family: inherit;
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-image: url("../assets/employees.avif");
}
.employeeList {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/employees.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.create-employee {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.sc-crXcEl jEfyds {
  background-color: white;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  background-color: floralwhite;
  opacity: 90%;
  border-radius: 10px;
  padding: 20px;
}
input {
  padding: 6px;
  margin: 10px;
}
.address {
  margin-bottom: 15px;
}

label,
legend {
  font-size: 18px;
  font-weight: 600;
}

select {
  padding: 6px;
  font-family: "Source Serif Pro", serif;
  margin: 10px;
}
input,
.start-date,
.date-of-birth {
  margin-bottom: 20px;
}

.button {
  border: 2px solid white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  border-radius: 50px;
  box-shadow: 3px 3px 9px 0px grey;
  padding: 12px;
  margin: 20px auto;
  cursor: pointer;
}

.employeeslist {
  position: absolute;
  right: 0;
}

.save {
  width: 100px;
}
