body {
  margin: 0;
  font-family: "Source Serif Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 40pt;
}
h2 {
  margin-bottom: 20px;
}
a {
  font-family: inherit;
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/employees.jpg");
  background-size: 100%;
}

.create-employee {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  background-color: white;
  opacity: 90%;
  border-radius: 10px;
  padding: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
input {
  padding: 6px;
  margin: 10px;
}
.address {
  margin-bottom: 15px;
}
.react-date-picker__wrapper {
  margin: 10px;
}
.react-date-picker__inputGroup {
  height: 70%;
}
label,
legend {
  font-size: 18px;
  font-weight: 600;
}

select {
  margin-left: 10px;
  padding: 6px;
  font-family: "Source Serif Pro", serif;
  margin-bottom: 10px;
}
input,
.start-date,
.date-of-birth {
  margin-bottom: 20px;
}

.modal {
  display: flex;
 border-radius: 50px;
    box-shadow: 3px 3px 9px 0px grey;
    padding: 12px;
}
.modal button {
  height: 25px;
  border: none;
  background: none;
}
.button {
  border: 2px solid white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  border-radius: 50px;
  box-shadow: 3px 3px 9px 0px grey;
  padding: 12px;
  margin: 20px auto;
}

.employeeslist {
  position: absolute;
  right: 0;
}

.svg-inline--fa {
  font-size: 20px;
}
.save {
  width: 100px;
}
